<div class="container-fluid" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>This page is for any fundraisers I have chosen to participate in. I'd like to help various organizations committed to helping people through any means. Click on the title of each fundraiser to access where you can donate.</h4>
<br>
</div>
<br>
<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h2><%= link_to 'St. Jude Play Live Fundraiser', 
        'https://tiltify.com/@jack-the-lightning-ripper/jack-the-lightning-rippers-play-live-2023',
        target: '_blank'
    %>
</h2>
<h6>This fundraiser is for St. Jude Children's Research Hospital. I will always be indebted to them for helping people close to me, on top of so many other children, so I'm using my YouTube content to help continue their work.</h6>
<br>
</div>
<br>