<h4> Hello! My name is Jack Stevenson and I am someone with a vast imagination who also has a love and passion for video games. 
My final goal is to become a video game developer but as of now, I am currently searching for work where I can improve myself as a programmer and help people with whatever problems they have.
I am willing to offer my service for jobs that involved creating and editing software, like websites and applications. I am knowledgeable in Java, Python, and C# the most, but I have worked with JavaScript before, 
done some database work with programs such as Django and MySQL, and am familiar with using Unity. The extent of my knowledge and capabilities with all of these is still in early stages, but I am to improve myself
through any programs and work I am able to contribute to.
</h4>

<h4>
I also invest into video games and create YouTube videos about them as hobbies! My YouTube channel is largely focused on countdowns about a wide variety of games and reviews where I get more specific and focus on either
one single game or a number of games that share a specific theme (same genre, same franchise, etc), but I also love doing Demo Impressions to help support a game when it launches and Smash montages where I share satisfying
and funny moments I performed with a character in the Super Smash Bros. Ultimate game. I also plan to begin a series of videos called "Lightning Ripper Journals" where I talk about something about gaming culture, explain why
the public perceives it the way that they do, give my own take on the matter, and, if applicable, offer a way to solve any potential problems with it. I largely use Adobe Premiere Pro as my editing software.
</h4>

<h4>
I`m open to contact about business inquiries via my email. Please use the "Contact" option on the navigation bar up at the top if you would like to message me. Thank you and I hope to do my best for the world!
</h4>
<br>
</br>
<h4>
Latest YouTube video:
</h4>
<h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fuyzk0v5OMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</h4>