<h1>Jack Stevenson</h1>

<p> Hello! My name is Jack Stevenson and I am someone with a vast imagination who also has a love and passion for video games. 
My final goal is to become a video game developer but as of now, I am currently searching for work where I can improve myself as a programmer and help people with whatever problems they have.
I also have a YouTube channel where I talk about my opinions on various video games!
</p>

<p>
    <%= link_to 'Check out my YouTube channel here!',
    'https://www.youtube.com/channel/UC3Qex1QJzXgW_quzJt3ihsw',
    target: '_blank' 
    %>
</p>