<h1>Jack Stevenson</h1>


<p>
    This page is for all the projects I either made myself or worked with other people to make.
</p>

<ul>
</ul>

<p>
    This is a fangame based off Sonic the Hedgehog that I'm currently developing.
    It's still in early development, but I do always update this repository whenever I hit a notable addition.
    <%= link_to 'Link is here.',
        'https://github.com/LightningRpper/JackSonicProject',
        target: '_blank'
    %>
</p>