<h4>
    This page is for all the projects I either made myself or worked with other people to make.
</h4>


<h4>
Jack Sonic Project (name pending)
</h4>

<p>
    This is a fangame based off Sonic the Hedgehog that I'm currently developing.
    It's still in early development, but I do always update this repository whenever I hit a notable addition.
    <%= link_to 'Link is GitHub repository',
        'https://github.com/LightningRpper/JackSonicProject',
        target: '_blank'
    %>
</p>

<h4>
Step-by-step (Capstone Project)
</h4>

<p>
    This was my Capstone project where I worked with a group of three other people to make a game where you solve puzzles with git commands. What's present in the repository is
    an small build we turned in as our project, but it's in a playable state. The other people I worked with are Kieran Blazier (yes91), Gus Rhodes White (MegaGeese), and Mark Austin Mills (f4ncy).
    <%= link_to 'Link is GitHub repository',
        'https://github.com/unregistered-hypercams/step-by-step',
        target: '_blank'
    %>
</p>