<h4>This is a blog where I will post updates about projects I am currently working on which include anything I am working on for a job, games I'm developing, videos I'm creating, and this very website.</h4>

<h3>
3/3/22
</h3>
<p>
New video on the demo for Kirby and the Forgotten Land has been uploaded!
</p>

<h3>
3/3/22
</h3>
<p>
Recently I updated the website with some info about the Capstone project I did with a group and the YouTube page with my new video "Top 10 Favorite Games of 2021". Today, I centered all the text on each page and turned the central options into a navigational bar. I've also started to look into how I can change the background to the website and how I could change the text. Everything is starting to look a lot cleaner, but there's still a lot that can be done.
</p>

<h3>
2/17/22
</h3>
<p>
YouTube videos have fully been embedded into this website and can be played from here! I can confidently say that everything on this website is now fully functional! But now the next step is beginning. I'm now setting my goals to giving this website some style and make everything appear cleaner overall. But I consider this a great first step that I hope to do more with in the future!
</p>

<h3>
2/15/22
</h3>
<p>
The "Contact Me!" option is now fully functional. All messages received through this method will be going to MailCatcher, a coding application for all the messages sent through here. So this means every option on the website is fully functional! I do plan to make some adjustments, like any messages I get through her being forwarded to my main email account and the previously mentioned YouTube video players, and I will also work on giving this website a visual overhaul. Another step forward!
</p>

<h3>
2/14/22
</h3>
<p>
I have successfully programmed a function that lets you download my resume. Clicking on "Download Resume" is enough to get a copy. I have also checked it on the browser it's downloaded on and it cannot be edited. If I ever update my resume, I'll supply this website with an updated copy. I have also started to implement a contact function and while I've gotten as far as to writing a message, sending it caused some errors involving the paths in which the website will go. I will continue to look into and fix the error. As of now, the "Contact Me!" option does not work. I'm also looking for a way to implement a video player on this site so you can watch my content directly from here, as well as a toolbar and links to various social media accounts I am on. I am satisfied with what I have done so far but there's still a lot more I can do. More ideas might even come up as I work. Thank you and have a great Valentine's Day!
</p>

<h3>
2/10/22
</h3>
<p>
This website is still in its very early stages of development. I have yet to figure out how to implement a function that allows my resume to be downloaded for employers and have full on video players for any videos I'm working on. I've also thought about making the resume downloaded a 'Read-Only' document and I would like to design all my website options as a full tool bar for easy navigation, no matter what page anyone is on. I've also continued to search for jobs because my internship is lasting until the end of May and I'm not banking on extending it again. Hope to continue innovating and improving in the future!
</p>