<div class="container-fluid" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>This is a blog where I will post updates about projects I am currently working on which include anything I am working on for a job, games I'm developing, videos I'm creating, and this very website.</h4>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
1/16/23
</h3>

<p>
Hello everyone! Happy New Year! I'm very sorry for the lack of updates in quite a while. I haven't really found a whole lot I could provide updates with in terms of this speccific website and I think it'd get repetitive if I just provided updates for videos I'm working on. But I have created plenty of videos between this last update and now and have begun promoting a fundraiser I'm doing for St Jude Play Live with them (You can find that in the new "Fundraisers" Page). I also have been using what I have learned here in my job recently, helping to create a UI overhaul of a website my current job uses and I havee continually thought of ways I could polish the overall look of this website. So needless to say, I do want to continue developing this site and push myself to improve for what lies in the future. Thank you and I hope you all are doing well.
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
9/29/22
</h3>

<p>
Hello there. I was stumped on how I could create a contact function for this website for quite a few months. However, thanks to some more digging and little help from a friend, I was able to create on that doesn't require as many technical aspects, and it works too! So contacting me via this website is now possible! I'm so happy I was able to reach this point! Now I'm focused on cleaning up anything that I don't necessarily need within this website's code and making this website look prettier. This is a big breakthrough and I aim to have this website be public domain when I'm certain it's ready to be presented as such. Also, I've made some new videos recently and I've got another one set to come out in about two days! Hope you're looking forward to those!
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
6/14/22
</h3>

<p>
Hello there. It's been a little while since I last provided an update like this. Back when I started thinking of the update idea for this website, I only wanted to give updates when I reached a big point for this website, like finishing a function or something of the sort. And on top of focusing on other things in my personal life as well as continue to make fun content for my YouTube account, I haven't thought of too many other things that I could add to this website. The only two things I have thought of as of right now are improving the contact function so any messages sent in there go through to my main email account, which is still a work in progress, and improving the visual design of the website. I've been prioritizing functionality as of right now and thinking about how it visually looks later. But I intend to use this as a way to reach out to potential employers and other people in general, so it's not being left hung to dry. I'll continue working on it whenever I can. Thank you and I hope you all are doing well. I also updated my YouTube page with three new videos, so be sure to check them out!
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
3/17/22
</h3>

<p>
So as you might've noticed, the background, text, and navbar look a little different. That's because I have successfully managed to edit them in the coding files. Now this is starting to look more like a website to present! I'll need to let this design sink in a bit before I decide to either find more appealing text fonts or publish this website, so more updates will absolutely come. However, I can say that I am thoroughly satisfied with what I've accomplished here. Also, I made a new episode of Demo Impressions on Stranger of Paradise: Final Fantasy Origin recently! Please check it out! Happy Saint Patrick's Day!
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
3/8/22
</h3>
<p>
New video on the demo for Kirby and the Forgotten Land has been uploaded!
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
3/3/22
</h3>
<p>
Recently I updated the website with some info about the Capstone project I did with a group and the YouTube page with my new video "Top 10 Favorite Games of 2021". Today, I centered all the text on each page and turned the central options into a navigational bar. I've also started to look into how I can change the background to the website and how I could change the text. Everything is starting to look a lot cleaner, but there's still a lot that can be done.
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
2/17/22
</h3>
<p>
YouTube videos have fully been embedded into this website and can be played from here! I can confidently say that everything on this website is now fully functional! But now the next step is beginning. I'm now setting my goals to giving this website some style and make everything appear cleaner overall. But I consider this a great first step that I hope to do more with in the future!
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
2/15/22
</h3>
<p>
The "Contact Me!" option is now fully functional. All messages received through this method will be going to MailCatcher, a coding application for all the messages sent through here. So this means every option on the website is fully functional! I do plan to make some adjustments, like any messages I get through her being forwarded to my main email account and the previously mentioned YouTube video players, and I will also work on giving this website a visual overhaul. Another step forward!
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
2/14/22
</h3>
<p>
I have successfully programmed a function that lets you download my resume. Clicking on "Download Resume" is enough to get a copy. I have also checked it on the browser it's downloaded on and it cannot be edited. If I ever update my resume, I'll supply this website with an updated copy. I have also started to implement a contact function and while I've gotten as far as to writing a message, sending it caused some errors involving the paths in which the website will go. I will continue to look into and fix the error. As of now, the "Contact Me!" option does not work. I'm also looking for a way to implement a video player on this site so you can watch my content directly from here, as well as a toolbar and links to various social media accounts I am on. I am satisfied with what I have done so far but there's still a lot more I can do. More ideas might even come up as I work. Thank you and have a great Valentine's Day!
</p>
<br>
</div>
<br>

<div class="container-fluid" style="background-color: rgba(0,39,118,0.5)">
<br>
<h3>
2/10/22
</h3>
<p>
This website is still in its very early stages of development. I have yet to figure out how to implement a function that allows my resume to be downloaded for employers and have full on video players for any videos I'm working on. I've also thought about making the resume downloaded a 'Read-Only' document and I would like to design all my website options as a full tool bar for easy navigation, no matter what page anyone is on. I've also continued to search for jobs because my internship is lasting until the end of May and I'm not banking on extending it again. Hope to continue innovating and improving in the future!
</p>
<br>
</div>
<br>