<div class="container-fluid" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4> This is my YouTube channel, where I post videos about video games in my spare time.
I largely focus on countdowns and reviews, but I also like to give impressions on demos,
make montages of characters I enjoy playing as in Super Smash Bros, and make video journals
on currently trending topics or whatever is on my mind!
</h4>
<br>
</div>
<br>
<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    <%= link_to 'Check out my YouTube channel here!',
    'https://www.youtube.com/channel/UC3Qex1QJzXgW_quzJt3ihsw',
    target: '_blank' 
    %>
</h4>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    Channel Trailer!
</h4>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/0QifoDiEEag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<br>
</div>
<br>
<br>
<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    St. Play Live Campaign Reward Explanations
</h4>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/bM9VDRsPPd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<br>
</div>
<br>
<br>
<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    My most recent video (Revenge of the Top 10 Favorite Video Game Villains)
</h4>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/ZHt5p-Wh63I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<br>
</div>
<br>
<br>

<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    Featured countdowns
</h4>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Revenge of the Top 10 Favorite Video Game Villains
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/ZHt5p-Wh63I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Top 10 Favorite Games of 2022
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/4J8Qw1PDUb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<br>
</div>
<br>
<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Top 12 Favorite Winter Levels
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/DEKBBaHLKWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>
<br>

<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    Featured reviews
</h4>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Gunvolt Chronicles: Luminous Avenger iX 1 & 2 Review
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/L_FHzuoiCv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Batman: Arkham Asylum
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/OF_S3pfaBco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    The Azure Striker Gunvolt Trilogy
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/fuyzk0v5OMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>
<br>

<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    Featured Demo Impressions
</h4>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    A Warrior's Hopes Tripled
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/EJJ9YSCaNRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Final Fantasy: Stranger of Chaos
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/3oEcPikRY0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Journey to the Forgotten Land with Kirby
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/RByI0REXqGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>
<br>

<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    Featured Lightning Ripper Journals
</h4>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    The Current State of Mass Game Conferences
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/t6q8HwdUro0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    The Current Popularity of Video Game Remakes
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/k9lt0oyC9Vk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    Free Content Updates
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/1LD84x4PG1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>
<br>

<div class="container" style="background-color: rgba(0, 60, 255,0.5)">
<br>
<h4>
    Featured Smash montages
</h4>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    My Tride-and-True Main (Pikachu)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/cPEyXJ_OQgg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    It's All About Speed! (Sonic)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/u2BqgwyUN7k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>

<div class="container" style="background-color: rgba(0,39,118,0.5)">
<br>
<h5>
    I Make My Own Fate! (Corrin)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/NVkV8u-08eM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br>
</div>
<br>
