<h4> This is my YouTube channel, where I post videos about video games in my spare time.
I largely focus on countdowns and reviews, but I also like to give impressions on demos
and make montages of characters I enjoy playing as in Super Smash Bros!
</h4>
<h4>
    <%= link_to 'Check out my YouTube channel here!',
    'https://www.youtube.com/channel/UC3Qex1QJzXgW_quzJt3ihsw',
    target: '_blank' 
    %>
</h4>

<h4>
Channel Trailer!
</h4>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/tcSafl8KpOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h4>
    My most recent video (A Warrior's Hopes Tripled (Demo Impressions))
</h4>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/EJJ9YSCaNRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h4>
    Featured countdowns
</h4>

<h5>
    25 More Favorite Games
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/c7LB-02bv6o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    Top 10 Favorite Games of 2021
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/HlM9eR0h2Ek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    Top 10 Favorite Sonic Games (30th Anniversary Edition)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/6FvnQj2xMWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


<h4>
    Featured reviews
</h4>

<h5>
    Lego Star Wars: The Skywalker Saga (Collab with StephanieSparda)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/bijenihzEuo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    Balan Wonderworld
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/IDBb1MggswU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    Mario and Sonic at the Sochi 2014 Olympic Winter Games
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/TpIK8hp63z4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


<h4>
    Featured Smash montages
</h4>

<h5>
    My Tride-and-True Main (Pikachu)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/cPEyXJ_OQgg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    It's All About Speed! (Sonic)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/u2BqgwyUN7k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    I Make My Own Fate! (Corrin)
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/NVkV8u-08eM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h4>
    Featured Demo Impressions
</h4>

<h5>
    A Warrior's Hopes Tripled
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/EJJ9YSCaNRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    Final Fantasy: Stranger of Chaos
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/3oEcPikRY0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h5>
    Journey to the Forgotten Land with Kirby
</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/RByI0REXqGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>