<div class="container mt-5">
  <h1>Contact Me!</h1>
  <form class = "row g-3" action="https://formsubmit.co/2ae196d4a67d284836dc0ff571b2cfd2" method="POST">
    <!-- Honeypot -->
    <input type="text" name="_honey" style="display: none;">

    <!-- Disable Captcha -->
    <input type="hidden" name="_captcha" value="false">

    <!-- <input type="hidden" name="_next" value="http://localhost:3000/contacts/create"> -->

    <div class = "col-md-6">
      <label for = "firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" name="First&nbsp;Name" id="firstName" required>
    </div>
    <div class = "col-md-6">
      <label for = "lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" name="Last&nbsp;Name" id="lastName" required>
    </div>
    <div class = "col-md-8">
      <label for = "email" class="form-label">Email</label>
      <input type="text" class="form-control" name="Email" id="email" required>
    </div>
    <div class = "col-md-4">
      <label for = "phone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" name="Phone" id="phone" required>
    </div>
    <div class = "form-group">
      <label for = "message" class="form-label">Message here</label>
      <input type= "text-area" class="form-control" name="Message" id="message" required>
    </div>
    <button type="send" class="btn btn-primary">Send Message</button>
    </form>
</div>